@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --first-color: #5bb5b0;
    --first-color-light: #000000;
    --white-color: #F7F6FB;
    --body-font: 'Mitr';
    --normal-font-size: 100%
}
li.nav-link{
    color: white;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: rgb(255, 246, 230);
}